.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: #f0ceef;
  font-size: 20px;
  font-weight: 500;
}

.distill-site-nav a {
  color: lightgrey;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: purple;
}

.distill-site-header {
}

.distill-site-footer {
}

@media print {
  .distill-site-nav {
    display: none;
  }
}
