.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: #f0ceef;
  font-size: 25px;
  font-weight: 300;
}

.distill-site-nav a {
  color: black;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: black;
}

.distill-site-header {
}

.distill-site-footer {
}

@media print {
  .distill-site-nav {
    display: none;
  }
}
