.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: #F0DBF0;
  font-size: 20px;
  font-weight: 350;
}

.distill-site-nav a {
  color: #FFA5FF;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: #CDBEFF;
}

.distill-site-header {
}

.distill-site-footer {
}

ul > li::marker {
  font-size: 1.125em;
  color: #ECC9EC;
}

d-article a {
  border-bottom: 2px solid #ECC9EC;
  text-decoration: none;
}

body{
    font-family: Snell Roundhand;
    font-style: oblique;
}

h1,h2,h3,h4,h5,h6{ 
    font-size: 24pt;
    color: #ECC9EC
}

@media print {
  .distill-site-nav {
    display: none;
  }
}
